<form method="post" action="{{ path('app_control_point_delete', {'id': control_point.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ control_point.id) }}">
    <button class="btn">Delete</button>
</form>
